.texto{
  background-color:azure;
  color: black;
  text-align: start;
  padding-top: 20px;
  padding-bottom: 20px;
}
.imagen{
  border-radius: 50px;
margin-left: 30%;
}

.texto1{
  background-color:black;

  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
