<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="home-outline"></ion-icon>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <!-- para pantasllas grandes sizeLg="4" -->
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <div class="imagen"> <img src="../../assets/img/logo.png" title="logo"/>
        </div>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <div class="texto">Somos distribuidor mayorista de productos naturales donde abastecemos a dietéticas, panaderías, heladerías y emprendedores en todas partes del país. Tenemos como principal objetivo la atención a nuestros clientes y consumidores que nos eligen porque ofrecemos una amplia variedad de productos de excelente calidad a precios convenientes, y porque somos una empresa confiable. Nuestra visión es expandir nuestro mercado y tratar de llegar a cada rincón de nuestro país.</div></ion-col>

      </ion-col>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <div class="texto1"><h1>Encontra todos nuestros productos!!!</h1>></div></ion-col>
    </ion-row>
  </ion-grid>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>

